include LICENSE
include README.md
include CHANGELOG.md
include pyproject.toml

recursive-include fraq *.py py.typed
recursive-include tests *.py
recursive-include examples *.py

prune __pycache__
prune *.egg-info
global-exclude *.pyc
